{% extends 'base.html' %}
{% block title %}Vcoder | About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-4 fw-bold mb-4">We Don’t Just Write Blogs — It’s How We Built Our Company</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Good writing isn’t enough to attract and hold attention.</p>

<p class="lead mb-4">Great writing isn’t enough to attract and hold attention.</p>

<p class="lead mb-4">Anyone who makes a living as a writer today will tell you that your content has to be made up of strategic ingredients.</p> <p class="lead mb-4">It has to connect with your target audience and inspire action.</p>
  </div>
  <h1 class="display-7 fw-bold mb-4">We are here to connect !</h1>
</div>
{% endblock body %}

