{% extends 'base.html' %}
{% block title %}Vcoder | Search{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}

{% block body %}
<div class="container my-3">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Search Results for "{{query}}" :
      </h3>
{% if allpost|length < 1 %}
<p>No search results</p>
Your search -<strong> {{query}} </strong>- did not match any documents.

Suggestions:
<ul>
<li>Make sure that all words are spelled correctly.</li>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
</ul>


{% endif %}      
{% for post in allpost %}
      <article class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timestamp}} by <a href="#">{{post.author}}</a></p>

        <p>{% autoescape off %}{{post.content|truncatechars:500|striptags}}{% endautoescape %}</p>
        <a role="button" class="btn btn-primary btn-sm" href="/blog/{{post.slug}}">Continue reading</a>
        <hr>
{% endfor %} 

       
{% endblock body %}